.login__logo {
  text-align: center;
}

.login__main__title{
  font-size: 20px;
}

.login__main__forgetpass {
  margin: 0px 0px 0px auto;
}

#form-to-log{
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(39, 34, 34, 0.4);
}

.forgot-password {
  color: red;
}

.reset-password {
  color: red;
}

@media only screen and (max-width: 1000px) {
  #img-left {
    display: none;
  }

  #img-right {
    display: none;
  }
}



/* Body */
.body .sider{
  width: 150px;
  background: #1E1D2F;
  color: #fff;
  height: calc(100vh - 56px);
  position: fixed;
  top: 56px;
  left: 0;
}

.body .main{
  margin: 15px;
  position: relative;
  left: 150px;
  width: calc(100% - 180px);
}

@media only screen and (max-width: 1000px) {
  #admin-text{
    display: none;
  }
}
/* End body */



/* Show alert */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
}

[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}

[show-alert] [close-alert] {
  cursor: pointer;
  color: purple;
}
/* End Show alert */

/* Image preview */
.image-preview {
  width: 150px;
  height: auto;
  margin-top: 15px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}

.image-preview[src=""] {
  display: none;
}
/* End Image preview */

/* main */

  /* statistic */

.card-header{
  background-color: #CC0D00;
  color: #fff;
  font-size: 17px;
}

.card-header.edit-exam{
  background: white;

}


.list-col{
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.list-col li {
  margin-left: 52px;
}

.list-col li span{
  display: inline-block;
}

.chart-serie{
  position: relative;
  width: 60px;
  border-radius: 3px;
  background-color: var(--color);
  transform-origin: bottom center;
  animation: rise 1s linear forwards;
  margin-left: 48px;
}

.chart-title{ 
  text-align: center;
  position: relative;
  top: -25px;
  color: #fff;
}

@keyframes rise { 
  0%{
    height: 0%;
  }
  100%{
    height: var(--i);
  }
}

.btn-exam a{
  margin-left: 10px;
}

.time-hidden{
  display: none;
}

.button-add {
  margin-bottom: 10px;
}

.question{
  padding: 8px 8px;
  box-shadow: 0 5px 10px rgba(39, 34, 34, 0.2);
  border-radius: 8px;
}

/* end main  */


body {
  height: 100%;
}

#student-info {
  max-width: 480px;
  padding: 1rem;
  /* display: none; */
}

#quizz-container {
    max-width: 960px;
    padding: 1rem;
    display: none;
}

#result-container {
    max-width: 480px;
    padding: 1rem;
    display: none;
}

.result {
  padding: 8px 8px;
  box-shadow: 0 5px 10px rgba(39, 34, 34, 0.2);
  border-radius: 8px;
}